@model IEnumerable<String>
<nav class="navbar navbar-default">
   
    <div class="navbar-header">
        @Html.ActionLink(" ", "List", "Product", new{}, new
        {
            @class="navbar-brand",
            id="menuHome"
            
        })
    </div>
    <ul class="nav navbar-nav">
        @foreach (var link in Model)
        {
    
            string classes = link == ViewBag.SelectedCategory ? "active" : null;
    
            <li class="@classes" > 
                @Html.RouteLink(link, new
                {
                    controller = "Product",
                    action = "List",
                    category = String.Join("", link.Split(' ').Select(str => str[0].ToString().ToUpper() + str.Substring(1)).ToArray()),
                    page = 1
                })
            </li>
        }
    </ul>
</nav>