<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/Admin.css" rel="stylesheet" />
    <link href="~/Content/themes/start/jquery-ui.start.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.file-input.js"></script>
    <script>
        $(function () {
            var myHandler = function () {
                $(this).addClass("text-danger");
                $('body').off('DOMNodeInserted', ".field-validation-error", myHandler);

                $('body').on('DOMNodeInserted', ".field-validation-error", myHandler);
            };
            $('body').on('DOMNodeInserted', ".field-validation-error", myHandler);

            $("input[type='text'], textarea, input[type='password']").addClass("form-control");
            $(".editor-label label").addClass("input-group-addon");
            $("input[type=file]").bootstrapFileInput();
        });
    </script>
</head>
<body>
    <div id="container">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
