body {
    background: url(images/clouds.jpg) repeat; 
}
#container {
    width: 95%;
    margin: auto;
    margin-top: 80pt;
    margin-bottom: 8pt;
    border-radius: 12pt;
    background-color: white;
    padding: 10pt;
    min-height: 600px;
}

#content {
}
.table {
    width: 80%;

}
.field-validation-error {
    margin: 10px;
}
#loginPanel {
    max-width: 260px;
    margin: 12px;
}
#adminDesc {
    font-family: serif;
    font-size: 12.5pt;
}